body {padding: 0px; margin: 0px; font-size: 15px; font-family: arial;}
header {width: 100%; min-height: 10px;}
p {line-height: 20px;}
#bodycolor {height: 100%; padding-top: 5px;}

/***************************************************************************************/
/* 			optin SIDEBAR			*/
/***************************************************************************************/

div#optinsidebar 						{ padding:15px; width:100%; -webkit-border-top-right-radius: 10px;-webkit-border-bottom-right-radius: 10px;-moz-border-radius-topright: 10px;-moz-border-radius-bottomright: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
@media screen and (min-width: 768px) {
	div#optinsidebar 						{ width: 25%; }
}
div#sidebarhead							{ width: 100%; margin: 0px auto; padding:0px;}
div#sidebarcontent 						{ width: 100%; margin: 0px auto;}
div#optinlogo							{ height: 50px; vertical-align: bottom; display: table-cell; }
div#headinner							{ width: 980px; margin: 0px auto; padding-bottom: 12px; padding-top:20px; }
div#pageshadow							{ margin: 0px auto; width: 1020px; background-image:url('images/mainback.png'); background-repeat:repeat-y; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border: 1px solid #ccc;}
div#optinsidebar form input.name 		{ font-size: 13px; width: 238px; height: 36px; margin: 4px auto 8px auto; border: 1px solid #ccc; background-image:url('images/name.png'); background-repeat:no-repeat; padding: 0px 35px 0px 6px; background-position: 99% center;}
div#optinsidebar form input.email 	{ font-size: 13px; clear: both; width: 238px; height: 36px; margin: 0px auto 8px auto; border: 1px solid #ccc; background-image:url('images/mail.png'); background-repeat:no-repeat; padding: 0px 35px 0px 6px; background-position: 99% center;}

div#optinsidebar form input.submit 	{ width: 100%; max-width: 235px; height: 35px; font-weight: bold; margin: 0px auto 0px auto;}

div#optinsidebar form 				{ text-align: center;}
div#optinsidebar p 					{ margin-bottom: 15px; }
div#optinsidebar h2 					{ font-size: 24px; font-family: Arial; font-weight: bold; line-height: 50px; letter-spacing: -1pt; text-align: center; margin-top: 0px;}
div#optinsidebar li ul 				{ margin-bottom:15px; }
div#optinsidebar ul 					{ margin-bottom: 15px;}
div#optinsidebar ul li 				{ margin-left: 30px;}
div#optinsidebar ol 					{ margin-bottom: 15px;}
div#optinsidebar ol li 				{ margin-left: 30px;}
div#optinsidebar img 					{ padding: 10px;}
div#optinsidebar select 				{ font-family: arial; background-color: #fff; border: 1px solid #ccc; width: 238px; height: 32px; margin: 4px auto 4px auto; font-size: 14px; padding: 5px;}
div#optin_local_time					{width: 195px; height: 25px; padding: 4px 0px 0px 0px; margin: 4px auto 0px auto; font-size:14px;}
div.optintext {text-align: left; margin-left: 20px; margin-top: 10px; font-size: 13px;}

div#optin_video { width: 100%; margin-bottom: 25px;}

div#optin_headline h1, div#thankyou h1 { color: #333333; font-size: 28px; font-family: Arial; font-weight: bold; line-height: 1.2em; letter-spacing: -1pt; margin: 0px auto 20px auto; text-align: center;}
div#optin_headline { margin: 0px auto 20px auto;}

div#optin_content 	{ padding: 15px}
@media screen and (min-width: 768px) {
	div#optin_content {width:75%;}
}
div#optin_wrapper 	{ display:flex; flex-direction: column; background-color: #fff; font-family: arial!important; max-width: 980px; padding: 0px; margin: 0px auto; border: 1px solid #ccc; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;z-index:1; width:95%;}
@media screen and (min-width: 768px) {
	div#optin_wrapper {
		flex-direction: row;
	}
}
div#optin_wrapper h2 	{ letter-spacing: -1pt;  margin-bottom: 10px; font-weight: bold; font-family: Arial; font-size: 26px;}
div#thankyou 			{ margin-top: 25px;}

div#optin_thankyou_side 			{ float: right; width: 300px;}
div#optin_details_side 			{ background-color: #E5E5E5; border-top: 4px solid #666; border-bottom: 4px solid #666; padding: 15px; margin-bottom: 25px; font-family: Arial; font-size: 15px;} 
div#optin_details_side strong 	{ font-weight: bold;}

div#optin_step p 			{ width: 90%; margin: 20px auto; font-family: Arial; font-size: 15px;}
div#optin_step 			{ margin-bottom: 25px;}
div#optin_media_button 	{ float: left; margin-right: 10px;}


/***************************************************************************************/
/* 			OPTIN BUTTON			*/
/***************************************************************************************/

.optinbutton 			{ display: inline-block; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 21px Arial, Helvetica, sans-serif !important; font-weight: bold !important; padding: 8px 20px 8px 20px; text-shadow: 1px 1px 1px #303030; filter: dropshadow(color=#303030, offx=1, offy=1); border: none !important; margin: 0px auto; width: 238px; height: 45px; color: #fff !important; background-image:url('images/orangebutton.png') ; background-color: #fff; }
.optinbutton:hover 		{ text-decoration: none; }
.optinbutton2 			{ display: inline-block; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 21px Arial, Helvetica, sans-serif !important; font-weight: bold !important; padding: 8px 20px 8px 20px; text-shadow: 1px 1px 1px #303030; filter: dropshadow(color=#303030, offx=1, offy=1); border: none !important; margin: 0px auto; width: 238px; height: 45px; color: #fff !important; background-image:url('images/orangebutton.png') ; background-color: #fff; }
.optinbutton2:hover 	{ text-decoration: none; }
.optinpagebutton 		{ display: inline-block; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 21px Arial, Helvetica, sans-serif !important; font-weight: bold !important; padding: 8px 20px 8px 20px; text-shadow: 1px 1px 1px #303030; filter: dropshadow(color=#303030, offx=1, offy=1); border: none !important; margin: 0px auto; width: 238px; height: 45px; color: #fff !important; background-image:url('images/orangebutton.png') ; }
.optinpagebutton:hover 	{ text-decoration: none; }

.printbutton {

    color: #6e6e6e;

    font: bold 12px Helvetica, Arial, sans-serif;

    text-decoration: none;

    padding: 7px 12px;

    position: relative;

    display: inline-block;

    text-shadow: 0 1px 0 #fff;

    -webkit-transition: border-color .218s;

    -moz-transition: border .218s;

    -o-transition: border-color .218s;

    transition: border-color .218s;

    background: #f3f3f3;

    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));

    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));

    border: solid 1px #dcdcdc;

    border-radius: 5px;

    -webkit-border-radius: 5px;

    -moz-border-radius: 5px;

    margin-right: 10px;

	cursor: pointer;

}



.printbutton:hover {

    color: #6e6e6e;

    border-color: #999;

    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);

	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

}


#countdown_dashboard {
	height: 120px;
}

.dash {
	width: 110px;
	height: 114px;
	background: transparent url('images/dash.png') 0 3px no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 52pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
	padding-top: 12px;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	margin-top: 10px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dev_comment {
	font-size: 14pt;
	color: #777;
	text-align: center;
	font-style: italic;
	margin: 40px 10px;
}

#subscribe_form {
	position: relative;
} 

#email_field {
	font-size: 16pt;
	padding: 6px 10px;
	width: 300px;
}

#subscribe_button {
	font-size: 14pt;
	color: #333;
	padding: 4px 8px;
}

.copyright {
	font-size: 9pt;
	color: #333;
	margin: 40px 0px;
}

.faded {
	color: #999;
}

.form_message {
	width: 400px;
	padding: 10px;
	margin: 15px auto;
	display: none;
}

#error_message {
	background-color: #ffe;
	border-left: 5px solid #bb3;
	border-right: 5px solid #bb3;
	color: #770;
}

#info_message {
	background-color: #f0f9ff;
	border: 1px solid #eef;
}

#loading {
	text-align: center;
	margin: 10px;
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
}