/*
Theme Name: MarketCMS Plugin Editor Styles
Description: Used to style the TinyMCE editor.
*/

html .mceContentBody { max-width: 780px;} 

* { color: #444; font-family: Arial;line-height: 1.5;}

p,dl,td,th,ul,ol,blockquote { font-size: 15px; }

tr th,thead th,label,tr th,thead th { font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif; }

pre { font-family: "Courier 10 Pitch", Courier, monospace;}

code, code var { font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;}

body, input, textarea {
	font-size: 12px;
	line-height: 150%;
}
hr { background-color: #e7e7e7; border: 0; clear: both; height: 1px; margin-bottom: 18px; }

/* Text elements */
p { margin-bottom: 18px; }
ul { list-style: square; margin: 0 0 18px 1.5em; }
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	color: #000;
	font-weight: bold;
}
cite,
em,
i {
	border: none;
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	border: none;
	color: #333;
}
del {
	text-decoration: line-through;
	color: #555;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
ins {
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

p,
ul,
ol,
dd,
pre,
hr {
	margin-bottom: 24px;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
pre,
kbd,
tt,
var {
	font-size: 15px;
	line-height: 21px;
}
code {
	font-size: 13px;
}
strong,
b,
dt,
th {
	color: #000;
}

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: bold; line-height: 125%; text-align: center; }
h1 { font-size: 28px; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: 0.9em; }

table { border: 1px solid #e7e7e7 !important; border-collapse: collapse; border-spacing: 0; margin: 0 -1px 24px 0; text-align: left; width: 100%; }
tr th, thead th { border: none !important; color: #888; font-size: 12px; font-weight: bold; line-height: 18px; padding: 9px 24px; }
tr td { border: none !important; border-top: 1px solid #e7e7e7 !important; padding: 6px 24px; }

img { margin: 0; padding:3px; border: 1px solid #ccc; background-color: #fff;}
img.size-auto, img.size-large, img.size-full, img.size-medium { max-width: 100%; height: auto; }
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px; 
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	border: none;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px;
}
.wp-caption p.wp-caption-text {
	margin: 0 0 4px;
}
.wp-smiley {
	margin: 0;
}

.orderarea{width:500px;border:3px;background:#ffff99;border-color:#000;border-style:dashed;margin:20px auto 30px;padding:25px 25px 15px; font-size: 16px;}
.orderarea ul { margin-left: 40px; font-size: 15px; line-height:22px;}
.orderarea p {margin-left: 20px;}

.features { margin-left: 50; padding-left: 0; list-style: none; } 
.features { font-size: 16px; padding-left: 45px; background-image: url('images/bullet2.png'); background-repeat: no-repeat; background-position: 0px 2px; margin-bottom: 18px;}


/* Testimonial Boxes */

.boxblue { background:#bfe4f9; border:1px solid #68a2cf; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:10px; margin-bottom: 18px; font-size: 16px; }
.boxgray { background:#eeeeee; border:1px solid #cccccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:10px; margin-bottom: 18px; font-size: 16px; }
.boxgreen { background:#edfcd5; border:1px solid #d4ebaf; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:10px; margin-bottom: 18px; font-size: 16px; }
.boxred { background:#fed9c7; border:1px solid #e2beb0; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:10px; margin-bottom: 18px; font-size: 16px; }

.testimonialgray { width: 700px; background-color: #EFEFEF; border: 3px solid #CCCCCC; border-right: none; border-left: none; margin: 0 auto 25px; padding: 15px; }
.testimonialblue { width: 700px; background-color: #EEF9FF; border: 3px solid #B2D9EE; border-right: none; border-left: none; margin: 0 auto 25px; padding: 15px; }
.testimonialgreen { width: 700px; background-color:#EDFCD5; border:3px solid #D4EBAF; border-right: none; border-left: none; margin:0 auto 25px; padding:15px; }
.testimonialyellow { width: 700px; background-color:#FFF9CD; border:3px solid #EFE3AE; border-right: none; border-left: none; margin:0 auto 25px; padding:15px; }
.testimonialblue img, .testimonialgreen img,.testimonialyellow img,.testimonialgray img{ float:left; margin-right:15px; }
.testimonialblue p, .testimonialgreen p,.testimonialyellow p,.testimonialgray p{ line-height:150%; font-size:15px; margin:0 0 12px; }
.testimonialblue h2, .testimonialgreen h2,.testimonialyellow h2,.testimonialgray h2{ text-align:center; font-weight:bold; font-size:22px; letter-spacing:-1pt; }

/* BUTTONS */

.buttongreen { 
	display: inline-block;  
	color: #fff !important; 
	font-weight: bold; 
	font-size:1.2em; 
	padding: 10px 25px; 
	border: 1px solid #73b338; 
	text-align: center; 
	text-decoration: none !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#88c841), to(#73b338)); 
	background: -moz-linear-gradient(center top, #88c841, #73b338);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88c841, endColorstr=#73b338);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#88c841, endColorstr=#73b338)"; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	behavior: url(border-radius.htc);
	-shadow: 0px 1px 0px #6c0909; 
	}

.buttongreen:hover { text-decoration: none !important; background: -webkit-gradient(linear, left top, left bottom, from(#73b338), to(#88c841)); background: -moz-linear-gradient(center top, #73b338, #88c841);	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#73b338, endColorstr=#88c841);	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#73b338, endColorstr=#88c841)";}

.buttonorange { text-decoration: none; display: inline-block;color:#fff !important; font-weight:bold; font-size:1.2em; background : -webkit-gradient(linear, left top, left bottom, from(#ffc300), to(#ff8100)); background : -moz-linear-gradient(center top, #ffc300, #ff8100); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 10px 25px; border: 1px solid #ff8100; text-align: center;	-shadow: 0px 1px 0px #6c0909; margin: 8px auto 25px auto; }
.buttonorange:hover { text-decoration: none !important; background : -webkit-gradient(linear, left top, left bottom, from(#ff8100), to(#ffc300)); background : -moz-linear-gradient(center top, #ff8100, #ffc300); }
